<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box1">
      <h2 style="font-weight:bold;font-family: merriweather;margin-left:10%;">WCAP(We Care About Privacy)</h2>
        <img style="margin-left: 37%; width: 25%;" class="img-responsive" src="assets/images/icon.png">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form  class="example-form">
        <mat-card-content>
          <mat-form-field style="font-size:large;" class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field style="font-size:large;" class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button class="button button2">Login</button>
      </form>
    </mat-card>
  
  </div>