<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box1">
    <h2 style="font-weight: bold; font-family: merriweather; margin-left: 10%">
      WCAP(We Care About Privacy)
    </h2>
    <img
      style="margin-left: 37%; width: 25%"
      class="img-responsive"
      src="assets/images/1.gif"
    />
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSubmit()"
      class="example-form"
    >
      <mat-card-content>
        <mat-form-field style="font-size: large" class="example-full-width">
          <input
            formControlName="mobile"
            type="text"
            matInput
            placeholder="Mobile Number"
          />
        </mat-form-field>

        <mat-form-field style="font-size: large" class="example-full-width">
          <input
            formControlName="password"
            type="password"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="button button2"
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
