html,
body {
  height: 100%;
}

body {
  margin: 10%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #FC354C 0%, #0ABFBCff 100%);
}

.app-header {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.login-wrapper {
  height: 100%;
  
}

.positronx {
  text-decoration: none;
  color: #ffffff;
  
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  
}
.mat-toolbar.mat-primary {
    background: linear-gradient(to right,#0ABFBCff  0%, #FC354C 100%);
    color: #fff;
  }

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
  
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
 
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
  
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
  
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
  border-radius: 15px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 31.5% ;

  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 35% ;

  }
  
  .button2:hover {
    background-color: #4CAF50;
    color: white;
  }

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}